@layer reset, main, reducedmotion;

@import url("noicss.reset") layer(reset);
@import url("noicss.reducedmotion") layer(reducedmotion);

@layer main {
  :root {
    --fgColor1: #191919;
    --fgColor2: #484848;
    --fgColor3: #8e8e8e;
    --fgColor4: #b3b3b3;
    --accentColor: #fbba00;
    --bgColor1: #fff;
    --openSans: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    --montserrat: Montserrat, Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    --jumpToArticleOffset: 1.5rem;
    --headerHeight: 80px;
    --pageWidth: min(calc(100vw - calc(var(--mainGap) * 2)), 1032px);
    --mainGap: 1.25rem;
    --normalBorderRadius: 4px;
    --fullBorderRadius: calc(1px * infinity);
  }

  .material-symbols-rounded {
    user-select: none;
    pointer-events: none;
  }
  a,
  a:visited {
    color: #0043fa;
  }

  /***********/
  /* HELPERS */
  .frfsc {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
  }
  .frcc {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .frcfs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
  }
  .frcfe {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
  }

  .btn {
    padding: 0.25em 0.75em;
    color: var(--bgColor1);
    font-size: 1.125em;
    font-family: var(--montserrat);
    font-weight: 700;
    border: 1px solid var(--accentColor);
    border-radius: var(--normalBorderRadius);
    background-color: var(--accentColor);
    transition: all 0.15s ease;

    &:hover {
      color: var(--accentColor);
      background-color: var(--bgColor1);
    }
  }

  .checkboxToggle {
    box-sizing: content-box;
    container: toggleCont / size;
    width: 1.75em;
    height: 1em;
    position: relative;
    border: 1px solid var(--fgColor4);
    border-radius: var(--fullBorderRadius);
    transition: all 0.1s ease-out;
    &:has(input[type="checkbox"]:focus-visible) {
      outline: 2px solid var(--accentColor);
      outline-offset: 2px;
    }
    &::before {
      content: "";
      width: 100cqw;
      height: 100cqh;
      display: block;
      position: absolute;
      border-radius: var(--fullBorderRadius);
      background: linear-gradient(to right, oklch(58% 0.22 27) 0% 50%, oklch(70% 0.2 135) 50% 100%);
      background-size: 200% 100%;
      background-position-x: 50cqh;
      transition: inherit;
    }
    &::after {
      content: "";
      height: 100cqh;
      aspect-ratio: 1;
      display: block;
      position: absolute;
      background-color: var(--bgColor1);
      border: 1px solid var(--fgColor4);
      border-radius: var(--fullBorderRadius);
      transform: translateX(0);
      transition: inherit;
      pointer-events: none;
    }
    & input[type="checkbox"] {
      position: absolute;
      width: 100cqw;
      height: 100cqh;
      opacity: 0;
      cursor: pointer;
    }
    &:has(input[type="checkbox"]:checked) {
      &::before {
        background-position-x: calc(-100% - 50cqh);
      }
      &::after {
        transform: translateX(calc(100cqw - 100%));
      }
    }
  }

  /********/
  /* MAIN */
  body {
    padding-top: var(--headerHeight);
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--fgColor1);
    font-family: var(--openSans);
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    background-color: var(--bgColor1);
  }

  .jumpToArticleLink {
    padding: 0.5em 1em;
    position: fixed;
    top: calc(var(--jumpToArticleOffset) + var(--headerHeight));
    left: var(--jumpToArticleOffset);
    color: var(--accentColor);
    font-weight: 700;
    text-decoration: none;
    border: 2px solid var(--accentColor);
    border-radius: var(--normalBorderRadius);
    background-color: var(--bgColor1);
    transform: translateY(calc(-100% - var(--jumpToArticleOffset) - var(--headerHeight)));
    transition: transform 0.2s ease;

    &:focus {
      transform: translateY(0);
    }
  }

  /* HEADER */
  .mainHeader {
    width: 100%;
    height: var(--headerHeight);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0 2rem 1rem -1rem rgba(204, 221, 238, 0.15);
    transform: translateY(0);
    transition: transform 0.15s ease-out;
    z-index: 100;

    &.hide {
      transform: translateY(calc(var(--headerHeight) * -1));
    }
  }
  .headerNav {
    padding: 10px 0;
    width: var(--pageWidth);
    height: 100%;
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-areas: "logo menu";
    align-items: center;
    gap: var(--mainGap);

    @media screen and (min-width: 768px) {
      grid-template-columns: 1fr auto 1fr;
      grid-template-areas: "wetter logo menu";
    }
  }

  /* HEADER WETTER */
  .headerNav .wetter {
    height: 1.5rem;
    display: none;
    justify-self: start;
    cursor: pointer;

    @media screen and (min-width: 768px) {
      display: unset;
    }

    & img {
      height: 100%;
    }
  }

  /* HEADER LOGO */
  .headerNav .logoCont {
    height: 100%;
  }
  .headerNav .logo {
    max-width: 300px;
    height: 100%;
    cursor: pointer;
  }

  /* HEADER NAV */
  .headerNav .headerNavMenu {
    gap: var(--mainGap);
    font-size: 1.5rem;
  }
  .headerNavMenuItem {
    position: relative;
    list-style: none;
    &:has(form) {
      width: 100%;
    }
  }
  .headerNavBtn {
    min-width: 1em;
    min-height: 1em;
    color: var(--fgColor3);
    background-color: transparent;
    cursor: pointer;
    transition: all 0.15s ease;
    &:hover {
      color: var(--fgColor1);
    }
  }

  /*  HEADER SEARCH MENU */
  .searchForm {
    box-sizing: content-box;
    padding-right: 0.125em;
    width: 100%;
    height: 1.25em;
    position: absolute;
    right: calc(calc(0.125em / 2 + 2px) * -1);
    border: 2px solid transparent;
    border-radius: var(--normalBorderRadius);
    transition: width 0.15s ease-out, border 0.15s ease-out, background-color 0.15s ease-out;
    transform: translateY(-50%);

    &:has(.searchInput:is(:focus, :valid)) {
      border: 2px solid var(--fgColor2);
      background-color: var(--bgColor1);
    }
  }
  @media screen and (min-width: 768px) {
    .searchForm {
      position: static;
      transform: none;

      &:has(.searchInput:is(:focus, :valid)) {
        width: 100%;
      }
    }
  }
  .searchInput {
    padding: 0 0 0 0.25em;
    width: 0;
    color: var(--fgColor1);
    font-size: 1rem;
    caret-color: var(--fgColor2);
    background-color: transparent;
    transition: inherit;

    &:is(:focus, :valid) {
      width: 100%;
      outline: transparent;
    }

    &::-webkit-search-cancel-button {
      appearance: none;
    }
  }

  /* HEADER DROPDOWN MENU */
  .dropdownMenuCont {
    --menuGap: 0.25em;
    padding-top: calc(var(--menuGap) * 2);
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    font-size: 1rem;
    transition: all 0.25s ease-out;
    z-index: 1000;
  }
  .headerNavMenuItem:is(:hover, .hover, [aria-expanded="true"]) {
    & .dropdownMenuCont {
      display: block;
      opacity: 1;
      translate: 0 0;

      @starting-style {
        opacity: 0;
        translate: 0 1cap;
      }
    }
  }

  .dropdownMenu {
    padding: var(--menuGap);
    min-width: 180px;
    border: 1px solid rgba(from var(--fgColor4) r g b / 0.5);
    border-radius: calc(var(--normalBorderRadius) + var(--menuGap));
    background-color: var(--bgColor1);
    box-shadow: 0 3px 9px rgba(from var(--fgColor4) r g b / 0.25);
  }

  .dropdownMenuHead {
    padding: var(--menuGap) calc(var(--menuGap) * 2);
    min-height: 3cap;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &:is(:hover, :focus-within) .dropdownMenuEditBtn {
      opacity: 1;
    }
  }

  .dropdownMenuTitle {
    color: var(--fgColor2);
    font-weight: 700;
    white-space: preserve nowrap;
  }

  .dropdownMenuEditBtn {
    width: 1em;
    height: 1em;
    color: var(--fgColor3);
    font-size: 24px;
    background-color: transparent;
    opacity: 0;
    cursor: pointer;
    transition: all 0.15s ease;

    &:hover {
      color: var(--fgColor1);
    }
  }

  .dropdownMenuDivider {
    margin: calc(var(--menuGap) / 2) 0;
    height: 1px;
    background-color: var(--fgColor4);
  }

  a.dropdownMenuItem {
    padding: var(--menuGap) calc(var(--menuGap) * 2);
    min-height: 3cap;
    gap: var(--menuGap);
    color: var(--fgColor1);
    text-decoration: none;
    border-radius: var(--normalBorderRadius);
    background-color: var(--bgColor1);
    cursor: pointer;
    transition: all 0.15s ease;
    &:has(input[type="checkbox"]:not(:checked)) {
      display: none;
    }
    &:is(:hover, :focus-visible) {
      background-color: var(--accentColor);
    }

    & .material-symbols-rounded {
      color: var(--fgColor2);
      font-size: 21px;
    }
  }

  .dropdownMenuToggle {
    display: none;
  }

  .dropdownMenuItemHandle {
    margin-left: auto;
    background-color: transparent;
    display: none;
    cursor: pointer;
  }

  .dropdownMenu[data-edit="true"] {
    & .dropdownMenuHead .dropdownMenuEditBtn {
      opacity: 1;
      & .material-symbols-rounded {
        color: var(--accentColor);
        font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 21;
      }
    }
    & a.dropdownMenuItem {
      &:has(input[type="checkbox"]:not(:checked)) {
        display: flex;
      }
      &:hover {
        background-color: var(--bgColor1);
      }

      &.sortableGhost {
        opacity: 0;
      }
    }
    & .dropdownMenuToggle {
      display: block;
    }
    & .dropdownMenuItemHandle {
      display: flex;
    }
  }

  /* ARTICLE FEED */
  .articleFeed {
    padding-top: var(--mainGap);
    width: var(--pageWidth);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: var(--mainGap);
  }
  .articleRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    gap: var(--mainGap);
  }

  article {
    width: 100%;
    height: calc(var(--pageWidth) / 3);
    background: linear-gradient(60deg, rgba(144, 144, 144, 1) 0%, rgba(186, 186, 186, 1) 75%, rgba(234, 234, 234, 1) 100%);
  }
}
